
.kf_table{
width: 100%;
display: table;
background:#F6F7F9;
}
.kf_table li{
display: table-row;
}
.kf_table li > div{
color: #333;
font-size: 14px;
font-weight: 300;
text-align: center;
padding: 13px 10px;
line-height: normal;
display: table-cell;
vertical-align: middle;
text-transform: capitalize;
}
.team_logo a{
margin-left: 15px;
width:30%;
height:30%;
}

.team_logo{
    width:30%;
    height:30%;
    }

.kf_table li > div.team_logo{
text-align: left;
}
.kf_table li:hover div{
background: #F6F7F9;
}
.kf_table .table_head strong {
color: #333;
font-size: 14px;
font-weight: bold;
line-height: normal;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
}
.kf_table .table_head div{
padding-top: 10px;
padding-bottom: 10px; 
}


/*
============================================================
Table Css End
============================================================